ST1_TEMPLATE_PATH=/home/s5117909/Documents/thesis/thesis_codebase/processing/sim_run_code/spike_train_output/st_1/31_hz/trial_2.pwl
ST2_TEMPLATE_PATH=/home/s5117909/Documents/thesis/thesis_codebase/processing/sim_run_code/spike_train_output/st_2/451_hz/trial_2.pwl
